# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

fdp-fe-*.tgz
.env

# yarn
.yarn/*
# plugins must be checked into version control for some reason?
!.yarn/plugins